<div class="card">
    <div class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </div>
    <div class="card-content">
        <p class="subtitle is-6">{{ post.author}}</p>
        <div class="content">
            {% if post.summary %}
            {{ post.summary | markdownify }}
            {% else %}
            <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>
