---
layout: default
---

<div class="content">

    <!-- <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p> -->

    {% if page.series %}
    {% include series.html %}
    {% endif %}

    {% if page.hero_title %}
    <h2>{{ page.title }}</h1>
        {% endif %}
        <h6 class="subtitle is-6">
            {{ page.author }}
        </h6>

        <div class="tags">
            <!-- Post categories -->
            {% for category in page.categories %}
            {% include tag.html tag=category %}
            {% endfor %}
            <!-- Post tags -->
            {% for tag in page.tags %}
            <!-- Nested format -->
            {% if tag.tooltip %}
            {% include tag.html tag=tag.name tooltip=tag.tooltip %}
            {% else %}
            <!-- Plain format -->
            {% include tag.html tag=tag %}
            {% endif %}
            {% endfor %}
            <a
                href="https://github.com/simulation-based-inference/simulation-based-inference.github.io/issues/new?template=correct-category.md&title=[Fix category]%3A+{{page.title}}">
                {% include tag.html tag="Suggest" style="is-warning" %}
            </a>
        </div>
        {{ content }}
        {% if page.cited_by != 'None' %}
        <a class="button is-link" href="{{ page.cited_by }}">Cited by</a>
        {% endif %}
        {% if page.link != 'None' %}
        <a class="button is-link" href="{{ page.link }}">Link to paper</a>
        {% endif %}
</div>

{% if page.bibtex != 'None' %}
{% include bibtex.html %}
{% endif %}

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
{% include disqus.html %}
{% endif %}